/* ------ imported google fonts ----- */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap");

body {
  /* ----- added google fonts ----- */
  font-family: "Azeret Mono", monospace, "Open Sans", sans-serif;
  font-size: 16px;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn,
.deleteBtn {
  border-left: 1px solid black;
  background-color: #06aed5;
  color: white;
}

.deleteBtn {
  border-right: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.saveBtn i:hover,
.deleteBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
